/* reset */
* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/* animation */
@keyframes bgcolor{
  0%{
    background-color: rgb(6, 136, 187);
  }
  30%{
    background-color: rgb(15, 118, 202);
  }
  60%{
    background-color: teal;
  }
  90%{
    background-color: 
    rgb(28, 75, 46);
  }
  100%{
    background-color: rgb(11, 83, 11);
  }
  50%{
    background-color: plum;
  }
  75%{
    background-color: palegreen;
  }
  55%{
    background-color: papayawhip;
  }
    
}

/* body */
body {
  font-family: Arial;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  animation: bgcolor 10s infinite;
  -webkit-animation: bgcolor 10s infinite;
  animation-direction: alternate;
}

/* header */
.header-style {
  background-color: cornsilk;
  border: 3px solid black;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 14px;
  margin: 20px 0 0;
  padding: 10px;
  text-align: center;
  width: 500px;
}

#header-text {
  font-size: 30px;
}

/* picture body */
.center {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}

.pictures {
  color: white;
  margin: 20px 0;
  height: max-content;
  width: 410px;
}

.image-border {
  border-radius: 2%;
  border: 1px solid white;
  box-shadow: 5px 5px 8px black, 10px 10px 8px black, 15px 15px 8px black;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  -o-border-radius: 2%;
}

.description {
  font-size: 16px;
  font-weight: 700;
  margin: 10px 0;
  text-align: center;
  word-wrap: break-word;
  width: inherit;
}

/* stars */
.checked {
  color: orange;
}

/* css star code 1 */
body 
{
  margin: 0;
  padding: 0;
  background: #262626;
}
.rating 
{
  position: absolute;
  top: 126%;
  left: 45%;
  transform: translate(-50%, -50%) rotateY(180deg);
  display: flex;
}
.rating input
{
  display: none;
}
.rating label 
{
  display: block;
  cursor : pointer;
  width: 50px;
  
}
.rating label:before
{
  content: '\f005';
  font-family: fontAwesome;
  position: relative;
  display: block;
  font-size: 35px;
  color: #101010;
}
.rating label:after
{
  content: '\f005';
  font-family: fontAwesome;
  position: absolute;
  display: block;
  font-size: 35px;
  color: orange;
  top: 0;
  opacity: 0;
  transition: .5s;
  text-shadow: 0 2px 5px rgba(0,0,0,.5);

}
.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after
{
  opacity: 1;
}


