/* reset */
* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/* animation */
@keyframes bgcolor{
  0%{
    background-color: rgb(15, 128, 58);
  }
  30%{
    background-color: rgb(13, 153, 99);
  }
  60%{
    background-color: rgb(26, 128, 0);
  }
  90%{
    background-color: 
    rgb(28, 75, 46);
  }
  100%{
    background-color: rgb(11, 83, 11);
  }
}

/* body */
body {
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  animation: bgcolor 10s infinite;
  -webkit-animation: bgcolor 10s infinite;
  animation-direction: alternate;
}

/* header */
.header-style {
  background-color: cornsilk;
  border: 3px solid black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  margin: 50px 0 0;
  padding: 10px;
  text-align: center;
  width: 500px;
}

#header-text {
  font-size: 30px;
}

/* picture body */
.center {

  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;

}
.picture-object{
  height: 600px;
  width: 400px;
  margin: 100px 20px;
}
.pictures {
  color: white;
}

.image-border {
  border-radius: 2%;
  border: 1px solid white;
  box-shadow: 5px 5px 8px black, 10px 10px 8px black, 15px 15px 8px black;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  -o-border-radius: 2%;
  height: 600px;
  width: 400px;
}

.description {
  font-size: 18px;
  font-weight: 700;
  margin: 35px 0;
  text-align: center;
  word-wrap: break-word;
  width: inherit;
}

/* stars */
.rating 
{
  position: relative;
  left: 27%;
  transform: translate(-50%, -50%) rotateY(180deg);
  display: flex;
  margin-top: 35px;
}

.rating input
{
  display: none;
}

.rating label 
{
  display: block;
  cursor : pointer;
  width: 50px;
}

.rating label:before
{
  content: '\f005';
  font-family: fontAwesome;
  position: relative;
  display: block;
  font-size: 35px;
  color: #101010;
}

.rating label:after
{
  content: '\f005';
  font-family: fontAwesome;
  position: absolute;
  display: block;
  font-size: 35px;
  color: orange;
  top: 0;
  opacity: 0;
  transition: .5s;
  text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after
{
  opacity: 1;
}


/*SCROLL*/

/* Force scrollbars onto browser window */
body {
margin-bottom: 200%;
}

/* Box styles */
.myBox {
border: none;
padding: 5px;
font: 24px/36px sans-serif;
width: 200px;
height: 200px;
overflow: scroll;
}

/* Scrollbar styles */
::-webkit-scrollbar {
width: 25px;
height: 25px;
}

::-webkit-scrollbar-track {
border-radius: 15px;
width: 5px;
border: 4px dashed rgb(151, 151, 151);
}

::-webkit-scrollbar-thumb {
background: rgb(70, 70, 70); 
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: rgb(147, 248, 147);  
}


/* the comment box */
.container
{
  /* height: 50%; */
  margin-top: 150px;
  width: 500px;
  border: 2px solid rgb(0, 0, 0);
  padding: 10px 10px;  
  background-color: teal;
}
.container h2
{
  
  text-align: center;
  margin-bottom: 10px
}


input[type="submit"], button
{
  margin-top: 6px;
  margin-bottom: 10px;
  
  border: 1px dashed;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  width: 470px;
  text-align: center;
}
input[type="submit"]
{
  font-family: 'Times New Roman', Times, serif;
  color: black ;
  background-color: #92e2de
 
}

.card-footer
{
  border: 1px dashed;
  width: 470px;
  background-color: #92e2de;
  outline: none;
  font: size 30px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

a{

  color:rgb(0, 0, 0);
}