
.header-style {
    background-color: cornsilk;
    border: 3px solid black;
    width: 500px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    margin-right: auto;
    margin-left:  auto;
  }

  
  @keyframes bgcolor{
    0%{
      background-color: rgb(6, 136, 187);
    }
    30%{
      background-color: rgb(15, 118, 202);
    }
    60%{
      background-color: teal;
    }
    90%{
      background-color: 
      rgb(28, 75, 46);
    }
    100%{
      background-color: rgb(11, 83, 11);
    }
  }
  
  body {
    -webkit-animation:  bgcolor 10s infinite;
    animation:  bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction:  alternate;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  text-align: center;
  /* font-weight: 100; */
}

.pictures {
  margin: 50px;
}

.border {
  border-radius: 2%;
  border: 1px solid;
  box-shadow: 5px 5px 8px black, 10px 10px 8px black, 15px 15px 8px black;
}

.description {
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
  width: 400px;
  text-align: center;
}

a, a:visited{
  color: white;
}
 
#checked {
  color: orange;
}
.checked {
  color: orange;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0 auto; /* Center website */
  max-width: 800px; /* Max width */
  padding: 20px;
}

.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
