<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% block styles %}
        {{ bootstrap.load_css() }}
      {% endblock %}
      <title>Comment Results</title>
    {% endblock %}
  </head>
<body>
  {% block content %}
    <div class="container mb-4">  
      <div class="card mt-4">
        <div class="card-body">
          <h2 class="card-title">Comments</h2>
          <ul class="list-group">
            {% for item in comments %}
              <li class="list-group-item">{{ item.comment }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="card-footer">
        <br>
        <a href="{{ url_for('home') }}" class="card-link" >home</a>
        </br>
        </div>
      </div>
    </div>
  {% endblock %}
</body>
</html>