<!-- COURSE: CST-205 -->
<!-- TITLE: Pinetreest -->
<!-- ABSTRACT: This program diplays pictures of nature using the Unsplash API. The images are displayed along with their description and you have the ability -->
<!-- to rate the pictures out of 5 and you can comment in the comment section at the bottom. -->
<!-- Authors: April Miller, Melody Neely, Pradeep Pansare, and Gerardo Lopez -->
<!-- Date: 5/17/21 -->

<!-- April built the foundation of the website, in the python file with flask and set up the HTML -->
<!-- Gerardo added the use of flexbox to the images, in CSS -->
<!-- Pradeep finished the star rating system, in HTML and CSS -->
<!-- Melody implemented the star rating on all the images, in HTML and CSS -->
<!-- Gerardo fixed a bug that dealt with the star rating system, in HTML -->
<!-- April restyled the page, in HTML and CSS -->
<!-- Melody added a comment system, worked with flask_wtf and created Comments class and created new HTML file comment.html and added CSS -->

<!-- GITHUB: https://github.com/UnGerardo/CST-205-Project -->

<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% block styles %}
        {{ bootstrap.load_css() }}
      {% endblock %}
      <title>Comment Results</title>
    {% endblock %}
  </head>
<body>
  {% block content %}
    <div class="container mb-4">  
      <div class="card mt-4">
        <div class="card-body">
          <h2 class="card-title">Comments</h2>
          <ul class="list-group">
            {% for item in comments %}
              <li class="list-group-item">{{ item.comment }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="card-footer">
        <br>
        <a href="{{ url_for('home') }}" class="card-link" >home</a>
        </br>
        </div>
      </div>
    </div>
  {% endblock %}
</body>
</html>