<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    <meta charset="utf-8">
    <title>Pintreest</title>
  </head>
  <body>
    <!-- header -->
    <h1 class="header-style">  
      <i class="fas fa-tree fa-3x"></i>
      <span id="header-text">Welcome to Pinetreest</span>
      <i class="fas fa-tree fa-3x"></i>
    </h1>

    <!-- Fixed stars by making input name attribute unique to each picture, and input id and label for attributes unique for each star -->

    <!-- pictures -->
    <div class="center"> 
      {% for pic in col %}
        <div class="picture-object">
          
           <!-- stars -->
          <div class="rating">
            <input type="radio" name="{{'Star' + pic.id}}" id="{{pic.id + '1'}}"><label for="{{pic.id + '1'}}"></label>
            <input type="radio" name="{{'Star' + pic.id}}" id="{{pic.id + '2'}}"><label for="{{pic.id + '2'}}"></label>
            <input type="radio" name="{{'Star' + pic.id}}" id="{{pic.id + '3'}}"><label for="{{pic.id + '3'}}"></label>
            <input type="radio" name="{{'Star' + pic.id}}" id="{{pic.id + '4'}}"><label for="{{pic.id + '4'}}"></label>
            <input type="radio" name="{{'Star' + pic.id}}" id="{{pic.id + '5'}}"><label for="{{pic.id + '5'}}"></label>
          </div>

          <a class="pictures" href="{{ pic.urls.raw }}">
            <img src="{{ pic.urls.small }}" class="image-border">

            <div class="description">            
              <p>Description:</p>
              <p>{{ pic.description }}...</p>
            </div>
          </a>
          
        </div>
      {% endfor %}
    </div>

    <!-- <img src="/static/images/woo.gif" alt="woo gif"> -->

    <script src="pintreest.py"></script>
  </body>
</html>

                               