<!-- COURSE: CST-205 -->
<!-- TITLE: Pinetreest -->
<!-- ABSTRACT: This program diplays pictures of nature using the Unsplash API. The images are displayed along with their description and you have the ability -->
<!-- to rate the pictures out of 5 and you can comment in the comment section at the bottom. -->
<!-- Authors: April Miller, Melody Neely, Pradeep Pansare, and Gerardo Lopez -->
<!-- Date: 5/17/21 -->

<!-- April built the foundation of the website, in the python file with flask and set up the HTML -->
<!-- Gerardo added the use of flexbox to the images, in CSS -->
<!-- Pradeep finished the star rating system, in HTML and CSS -->
<!-- Melody implemented the star rating on all the images, in HTML and CSS -->
<!-- Gerardo fixed a bug that dealt with the star rating system, in HTML -->
<!-- April restyled the page, in HTML and CSS -->
<!-- Melody added a comment system, worked with flask_wtf and created Comments class and created new HTML file comment.html and added CSS -->

<!-- GITHUB: https://github.com/UnGerardo/CST-205-Project -->

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    <meta charset="utf-8">
    <title>Pinetreest</title>
  </head>
  <body>
    <!-- header -->
    <h1 class="header-style">  
      <i class="fas fa-tree fa-3x"></i>
      <span id="header-text">Welcome to Pinetreest</span>
      <i class="fas fa-tree fa-3x"></i>
    </h1>

    <!-- pictures -->
    <div class="center"> 
      {% for pic in col %}
        <div class="picture-object">
          <!-- Picture and description -->
          <a class="pictures" href="{{ pic.urls.raw }}">
            <img src="{{ pic.urls.small }}" class="image-border">

            <div class="description">            
              <p>Description:</p>
              <p>{{ pic.description }}...</p>
            </div>
          </a>
           <!-- stars. Tutorial link: https://www.youtube.com/watch?v=Ep78KjstQuw -->
           <div class="rating">
            <input type="radio" name="{{'Star' + pic.id}}" id="{{pic.id + '1'}}"><label for="{{pic.id + '1'}}"></label>
            <input type="radio" name="{{'Star' + pic.id}}" id="{{pic.id + '2'}}"><label for="{{pic.id + '2'}}"></label>
            <input type="radio" name="{{'Star' + pic.id}}" id="{{pic.id + '3'}}"><label for="{{pic.id + '3'}}"></label>
            <input type="radio" name="{{'Star' + pic.id}}" id="{{pic.id + '4'}}"><label for="{{pic.id + '4'}}"></label>
            <input type="radio" name="{{'Star' + pic.id}}" id="{{pic.id + '5'}}"><label for="{{pic.id + '5'}}"></label>
          </div>
        </div>
      {% endfor %}
    </div>
    <!-- Comment System Form -->
    <div class="container">
      <marquee><h1>Tell us what you think!</h1></marquee> 
      <form method = "POST" action ="/"  placeholder = 'Add Your Comment'>

        {{form.csrf_token}}
        <!-- {{form.my_comment.label}} -->
        {{form.my_comment(size=65)}}

        <input type="submit" value=' insert Comment'>

        <div class="card-footer">
          <a href="{{ url_for('vp') }}" class="card-link" > look at comment section</a>
        </div>
      </form>
    </div>

    <script src="pintreest.py"></script>
  </body>
</html>

                               